@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "layout/header";

.top-nav {
  &__icon {
    width: 1rem;
    height: 1rem;
    background-color: var(--color-primary-lavender);
  }
}
